*{
    padding: 0;
    margin: 0;
}

body{
        background-color:blanchedalmond;
}

.userInput-div h2{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-color{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.add-color input{
    height: 35px;
    width: 150px;
    margin-right: 10px;
    font-size: large;
    border: 1px solid gray;
    border-radius: 5px;
}
.add-color button{
    height: 35px;
    width: 60px;
    border-radius: 15px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    background-color:rgb(248, 103, 6);
}

.color-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color:darksalmon;
    margin: 0 200px 0 200px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.color-buttons button{
    margin-left: 10px;
    height: 35px;
    width: 60px;
    border:1px solid lightgray;
    border-radius: 15px;
    cursor: pointer;
}
